<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | Ruby on Rails</title>
</head>
<body>
	<div class="jumbotron" style="color: black;"> 
		<h1>Welcome to the Chat-App</h1> 
		<h2> This is the home page for the Chat-App</h2> 
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div> 
	<%= link_to image_tag("lambe.jpg", alt: "Lambe Logo"), 'http://facebook.co.id/' %>
</body>
</html>